@import "tailwindcss";

:root {
  --background-color: #261F47;
  --secdanry-color: #514983;
  --primary-color: #EA3757;
  --text-colro: #B3ADD1;
  
}

@theme inline {
  --color-background: var(--background-color);
  --color-secdanry: var(--secdanry-color);
  --color-priamry: var(--primary-color);
  --color-textColor: var(--text-color);
}


body {
  background: var(--background-color);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.container{
  @apply lg:w-[70%] md:w-[80%] w-[90%]  flex flex-col  my-0 mx-auto
}
.content{
  @apply w-full h-full flex flex-col 
}